<div class="card">
  <h2><%= title %></h2>
  <p><%= description %></p>
  <% if (image) { %>
  <img src="<%= image %>" alt="Card image" />
  <% } %>
  <div class="card__content">
    Контент
  </div>
</div>