<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>main</title>
	</head>
	<body>
		<% if (true) { %>
		<ul>
			<% [1,2,3].forEach(function(item) { %>
			<li><%= item %></li>
			<% }); %>
		</ul>
		<% } else { %>
		<p>No items found.</p>
		<% } %> 
		
		
		<%- require("@components/Card/index.ejs")({title: "test"}) %>
	</body>
</html>
